<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/new"><button>Add a Message</button></a>
    <ul>
      <% messages.forEach( function(message){ %>
        <li>
          Message: <%= message.text%> <br>
          <span>-<%= message.user %></span>
          <span class="date"><%= message.added %></span>
        </li>

      <% }); %>
    </ul>
  </body>
</html>
